.photoMessage {
    width: 150px;
    height: 150px;
}

.videoMessage {
    width: 150px;
    height: 150px;
}


.message{
    height: 170px;
    width: 170px;
    position: relative;
    padding: 7px;
    width:fit-content;
    
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    background: #ffffff;
}



.text{
    margin-right: 5px;
    font-size: 20px;
}
.time{
    font-size: 10px;
}

