.popup{
    position: fixed;
    background-color: rgb(237, 237, 237);
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding:5px;
    margin-bottom: 50px;
}

.inner-popup{
    position: relative;
    width: 100%;
}
.close-btn{
    border: 1px solid gray;
    padding: 0px;
    border: none;
}
