.chat-bar {
    width: 90%;
    margin: 5%;
    height: 90%;
}

#conversation{    
    width: 100%;
    position: flex;
}

div#popup.popup {
    display: none;
    background-color: white;
    z-index: 1;
    width: 400px;
    position: absolute;
    left: 35%;
    top: 20%;
    opacity: 1;
    border-width: 5px;
    border-color: black;
    border-radius: .25rem;
}

#new-contant-buttom {
    right: 0;
    top: 0;
}

.button {
    position: relative;
    right: 0;
    top: 0;
}

#x-button {
    padding-top: 8px;
}

.padding{
    padding: 15px;
}

.btn {
    margin-top: 0px;
}

.row {
    border-color: gray;
    background: none;
}

.bi-x-circle {
    align-items: center;
}

.images {
    width: 80px;
    height: 80px;
    margin-left: 6px;
}

.nickname {
    margin: 10px;
    font-size: 20px;
}

.message-time {
    position: relative;
    right: 0px;
    width: 30%;
    margin-top: 13px;
    margin-left: 3%;
}

.userLine {
    width: 400px;
    padding: 5px;
    border: 1px solid gray;
}

.hover-style:hover {
    background-color: rgb(194, 212, 231);
    cursor: pointer;
}

#logout-button {
    width: 100%
}

.last-message {
    padding-left: 5px;
}
#addContact {
    position: relative;
    width: 100%;
    margin-bottom: 10px;;
}

#newContact {
    width: 100%;
}

#chatsBar {
    opacity: 100%;
}

.identifier {
    background-color: white;
    border-radius: .25rem;
    margin-left: 0px;
    background: rgba(255,255,255,0);
}

.add-contact-button {
    position: relative;
    right: 0px;
}

.row > * {
    padding: 0px;

}

.nickname {
    padding-left: 10px;
}