.mainpage{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.mb-3 {
  height: 500px;
  width: 500px;
  position: absolute;
  left: 33%;
  top: 20%;
}

.btn {
  margin-top: 10px;
}

.form-label {
    margin-top: 10px;
}

.page-title {
  text-align: center;
}