.mb-3 {
  height: 500px;
  width: 500px;
  
  position: absolute;
  left: 38%;
  top: 20%;
}

.btn {
  margin-top: 10px;
}

.form-label {
    margin-top: 10px;
}

.page-title {
  text-align: center;
}