.LoginOrRegister {
  height: 500px;
  width: 500px;
  position: absolute;
  left: 33%;
  top: 20%;
  font-family: 'Nunito',sans-serif;
  background-color: #D8e2dc
}

.form-label {
    margin-top: 10px;
}

.page-title {
  text-align: center;
}